.venv
data/db/*
data/images/*
*.db
*.sqlite3
.pytest_cache/
__pycache__/
*.pyc
*.pyo  
*.pyd
*.log
detected_images/
*.pt

# 테스트용 csv 파일 제외
*.csv 

# 보안 파일들
*.pem
*.key
*.crt
.env
local_settings.py
*.ini
*pw/


.DS_Store
img/

*debug.ipynb
*.ipynb_checkpoints






